version: '3'

services:
  roameasy:
    container_name: roameasy-app
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    ports:
      - 3000:3000
    env_file:
      - .env.local
